<app-sidebar>
  <!-- Sidebar Extra Nav Options -->
  <div child-header>
    <div class="sb-sidenav-menu-heading">Actions</div>
    <a class="nav-link" href="/profile">
      <div class="sb-nav-link-icon"><i class="fa-solid fa-broom"></i></div>
      Cleanup Code
    </a>
    <a class="nav-link" href="/profile">
      <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></div>
      Toggle Line Wrapping
    </a>
    <a class="nav-link" href="/profile">
      <div class="sb-nav-link-icon"><i class="fa fa-external-link"></i></div>
      View Webpage
    </a>
    <div class="button-group">
      <button type="button" class="btn btn-primary w-100 mb-1" (click)="getText()">Publish</button>
      <button type="button" class="btn btn-default w-100" >Cancel</button>
    </div>
  </div>

  <!-- Content Regio for that page -->
  <div id="layoutSidenav_content" child-content>
    <app-breadcrumb></app-breadcrumb>
    <main>
      <div class="source-editor">
        <ngx-codemirror
          #codeeditor
          [(ngModel)]="content"
          [options]="config"
          [autoFocus]=true
        ></ngx-codemirror>
      </div>
    </main>
    <app-footer class="mt-auto"></app-footer>
  </div>
</app-sidebar>
