<app-sidebar>
  <!-- Sidebar Extra Nav Options -->
  <div child-header>
  </div>

  <!-- Content Regio for that page -->
  <div id="layoutSidenav_content" child-content>
    <app-breadcrumb></app-breadcrumb>
    <main class="p-3 offset-md-3 col-md-5 col-sm-12">
      <form>
        <div class="form-style">
          <h3>Delete My Account</h3>
          <p>This will delete your account permanently.</p>
          <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete My Account</button>
          </div>
        </div>
      </form>

    </main>
    <app-footer class="mt-auto"></app-footer>
  </div>
</app-sidebar>
