<div class="sidebar">
  <nav class="sidebar">
    <div class="sidebar-header">
      <div class="logo"><a href="/" class="is-current"><img src="https://neobyte.net/billing/assets/img/logo.png"
                                                            alt="Logo"></a></div>
    </div>
    <div class="sidebar-body" style="">
      <div class="sidebar-link-group"><h3 class="sidebar-link-group-title">
        Main
      </h3><a href="#" class="sidebar-link is-current"><i class="fa fa-window-maximize" aria-hidden="true"></i>

        Sites

        <!----></a><a href="#" class="sidebar-link"><i class="fa fa-user-o" aria-hidden="true"></i>

        Users

        <!----></a><a href="#" class="sidebar-link"><i class="fa fa-life-ring" aria-hidden="true"></i>

        Support

        <!----></a><a href="#" class="sidebar-link"><i class="fa fa-cog" aria-hidden="true"></i>

        Settings
      </a>
      </div>
      <div class="sidebar-link-group"><h3 class="sidebar-link-group-title">
        Admin
      </h3><a href="#" class="sidebar-link"><i class="fa fa-plus" aria-hidden="true"></i>

        New Site

        <!----></a></div><!----><a href="/billing" class="upgrade-banner"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
      Upgrade to unlock priority support, commercial sites, and more features!
    </a></div>
  </nav>
</div>
