<div data-v-e6c1905e="" class="content">
  <form data-v-9e7b024c="" data-v-da9f9426="" class="el-form site-form el-form--label-top" data-v-e6c1905e="">
    <div data-v-25b12cd4="" data-v-9e7b024c="" class="content-box">
      <div data-v-9e7b024c="" class="el-tabs el-tabs--top" data-v-25b12cd4="">
        <div class="el-tabs__header is-top">
          <div class="el-tabs__nav-wrap is-top">
            <div class="el-tabs__nav-scroll">
              <div role="tablist" class="el-tabs__nav is-top" style="transform: translateX(0px);">
                <div class="el-tabs__active-bar is-top" style="width: 49px; transform: translateX(0px);"></div>
                <div id="tab-general" aria-controls="pane-general" role="tab" tabindex="0"
                     class="el-tabs__item is-top is-active" aria-selected="true">General
                </div>
                <div id="tab-services" aria-controls="pane-services" role="tab" tabindex="-1"
                     class="el-tabs__item is-top">Services
                </div>
                <div id="tab-advanced" aria-controls="pane-advanced" role="tab" tabindex="-1"
                     class="el-tabs__item is-top">Advanced
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="el-tabs__content">
          <div data-v-9e7b024c="" role="tabpanel" id="pane-general" aria-labelledby="tab-general" class="el-tab-pane"
               style="">
            <fieldset data-v-9e7b024c="">
              <div data-v-9e7b024c="" class="el-row" style="margin-left: -10px; margin-right: -10px;">
                <div data-v-9e7b024c=""
                     class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-12 el-col-xl-12"
                     style="padding-left: 10px; padding-right: 10px;">
                  <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Name</label>
                    <div class="el-form-item__content">
                      <div data-v-9e7b024c="" class="el-input"><!----><input type="text" autocomplete="off"
                                                                             class="el-input__inner"><!----><!---->
                        <!----><!----></div>
                      <div data-v-9e7b024c="" class="text-form-description">
                        Enter a name for your website.
                      </div><!----></div>
                  </div>
                </div>
                <div data-v-9e7b024c=""
                     class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-12 el-col-xl-12"
                     style="padding-left: 10px; padding-right: 10px;">
                  <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">URL</label>
                    <div class="el-form-item__content">
                      <div data-v-9e7b024c="" class="el-input"><!----><input type="url" autocomplete="off"
                                                                             placeholder="https://example.com/"
                                                                             class="el-input__inner"><!----><!---->
                        <!----><!----></div>
                      <div data-v-9e7b024c="" class="text-form-description">
                        Enter your website's URL.
                      </div><!----></div>
                  </div>
                </div>
              </div><!---->
              <div data-v-9e7b024c="" class="el-row" style="margin-left: -10px; margin-right: -10px;">
                <div data-v-9e7b024c=""
                     class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24 el-col-xl-24"
                     style="padding-left: 10px; padding-right: 10px;">
                  <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Type of
                    Website</label>
                    <div class="el-form-item__content">
                      <div data-v-9e7b024c="" class="el-select"><!---->
                        <div class="el-input el-input--suffix"><!----><input type="text" readonly="readonly"
                                                                             autocomplete="off" placeholder="Select"
                                                                             class="el-input__inner"><!----><span
                          class="el-input__suffix"><span class="el-input__suffix-inner"><i
                          class="el-select__caret el-input__icon el-icon-arrow-up"></i><!----><!----><!----><!---->
                          <!----></span><!----></span><!----><!----></div>
                        <div class="el-select-dropdown el-popper" style="display: none; min-width: 608px;">
                          <div class="el-scrollbar" style="">
                            <div class="el-select-dropdown__wrap el-scrollbar__wrap"
                                 style="margin-bottom: -17px; margin-right: -17px;">
                              <ul class="el-scrollbar__view el-select-dropdown__list"><!---->
                                <li data-v-9e7b024c="" class="el-select-dropdown__item selected"><span>Commercial</span>
                                </li>
                                <li data-v-9e7b024c="" class="el-select-dropdown__item"><span>Personal</span></li>
                                <li data-v-9e7b024c="" class="el-select-dropdown__item"><span>Educational</span></li>
                                <li data-v-9e7b024c="" class="el-select-dropdown__item"><span>Non-profit</span></li>
                              </ul>
                            </div>
                            <div class="el-scrollbar__bar is-horizontal">
                              <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                            </div>
                            <div class="el-scrollbar__bar is-vertical">
                              <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                            </div>
                          </div><!----></div>
                      </div>
                      <div data-v-9e7b024c="" class="text-form-description"><span
                        data-v-9e7b024c="">Please review the <a data-v-9e7b024c=""
                                                                href="https://www.surrealcms.com/docs/website-classifications.html"
                                                                target="_blank">Website Classification Guidelines</a>. Non-commercial websites are verified to prevent abuse.</span>
                      </div><!----></div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset data-v-9e7b024c="" class="divided">
              <div data-v-9e7b024c="" class="el-row" style="margin-left: -10px; margin-right: -10px;">
                <div data-v-9e7b024c=""
                     class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-6 el-col-xl-6"
                     style="padding-left: 10px; padding-right: 10px;">
                  <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Protocol</label>
                    <div class="el-form-item__content">
                      <div data-v-9e7b024c="" class="el-select"><!---->
                        <div class="el-input el-input--suffix"><!----><input type="text" readonly="readonly"
                                                                             autocomplete="off" placeholder="Select"
                                                                             class="el-input__inner"><!----><span
                          class="el-input__suffix"><span class="el-input__suffix-inner"><i
                          class="el-select__caret el-input__icon el-icon-arrow-up"></i><!----><!----><!----><!---->
                          <!----></span><!----></span><!----><!----></div>
                        <div class="el-select-dropdown el-popper" style="display: none; min-width: 137px;">
                          <div class="el-scrollbar" style="">
                            <div class="el-select-dropdown__wrap el-scrollbar__wrap"
                                 style="margin-bottom: -17px; margin-right: -17px;">
                              <ul class="el-scrollbar__view el-select-dropdown__list"><!---->
                                <li data-v-9e7b024c="" class="el-select-dropdown__item selected"><span>FTP</span></li>
                                <li data-v-9e7b024c="" class="el-select-dropdown__item"><span>FTP with TLS/SSL</span>
                                </li>
                                <li data-v-9e7b024c="" class="el-select-dropdown__item"><span>SFTP</span></li>
                                <li data-v-9e7b024c="" class="el-select-dropdown__item"><span>S3</span></li>
                                <li data-v-9e7b024c="" class="el-select-dropdown__item"><span>WebDAV</span></li>
                              </ul>
                            </div>
                            <div class="el-scrollbar__bar is-horizontal">
                              <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                            </div>
                            <div class="el-scrollbar__bar is-vertical">
                              <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                            </div>
                          </div><!----></div>
                      </div><!----></div>
                  </div>
                </div>
                <div data-v-9e7b024c=""
                     class="el-col el-col-24 el-col-xs-16 el-col-sm-16 el-col-md-16 el-col-lg-12 el-col-xl-12"
                     style="padding-left: 10px; padding-right: 10px;">
                  <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Host</label>
                    <div class="el-form-item__content">
                      <div data-v-9e7b024c="" class="el-input"><!----><input type="text" autocomplete="off"
                                                                             placeholder="ftp.example.com"
                                                                             class="el-input__inner"><!----><!---->
                        <!----><!----></div><!----></div>
                  </div>
                </div>
                <div data-v-9e7b024c=""
                     class="el-col el-col-24 el-col-xs-8 el-col-sm-8 el-col-md-8 el-col-lg-6 el-col-xl-6"
                     style="padding-left: 10px; padding-right: 10px;">
                  <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Port</label>
                    <div class="el-form-item__content">
                      <div data-v-9e7b024c="" class="el-input"><!----><input type="number" autocomplete="off"
                                                                             placeholder="21" class="el-input__inner">
                        <!----><!----><!----><!----></div><!----></div>
                  </div>
                </div><!----><!----></div>
              <div data-v-9e7b024c="" class="el-row" style="margin-left: -10px; margin-right: -10px;">
                <div data-v-9e7b024c=""
                     class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-12 el-col-lg-12 el-col-xl-12"
                     style="padding-left: 10px; padding-right: 10px;">
                  <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Username</label>
                    <div class="el-form-item__content">
                      <div data-v-9e7b024c="" class="el-input"><!----><input type="text" autocomplete="off"
                                                                             class="el-input__inner"><!----><!---->
                        <!----><!----></div><!----></div>
                  </div>
                </div>
                <div data-v-9e7b024c=""
                     class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-12 el-col-lg-12 el-col-xl-12"
                     style="padding-left: 10px; padding-right: 10px;">
                  <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Password</label>
                    <div class="el-form-item__content">
                      <div data-v-9e7b024c="" class="el-input el-input--suffix"><!----><input type="password"
                                                                                              autocomplete="off"
                                                                                              class="el-input__inner">
                        <!----><span class="el-input__suffix"><span class="el-input__suffix-inner"><a data-v-9e7b024c=""
                                                                                                      href="#"><i
                          data-v-9e7b024c="" class="el-icon-fa-eye"></i></a><!----><!----><!----><!----></span>
                          <!----></span><!----><!----></div><!----></div>
                  </div>
                </div><!----><!----></div>
            </fieldset>
            <fieldset data-v-9e7b024c="" class="divided">
              <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Home Folder</label>
                <div class="el-form-item__content">
                  <div data-v-9e7b024c="" class="el-input el-input-group el-input-group--append el-input--prefix">
                    <!----><input type="text" autocomplete="off" class="el-input__inner"><span class="el-input__prefix"><i
                    class="el-input__icon el-icon-fa-folder"></i></span><!---->
                    <div class="el-input-group__append"><span data-v-9e7b024c=""><div role="tooltip" id="el-popover-82"
                                                                                      aria-hidden="true"
                                                                                      class="el-popover el-popper"
                                                                                      tabindex="0"
                                                                                      style="display: none;"><!----><div
                      data-v-2b94356e="" data-v-9e7b024c="" class="file-browser is-popover"><nav data-v-f963da46=""
                                                                                                 data-v-2b94356e=""
                                                                                                 class="file-list-breadcrumbs breadcrumbs"><a
                      data-v-f963da46="" title="" href="#"><i data-v-f963da46="" class="el-icon-fa-home"></i></a></nav><div
                      data-v-4bee9f92="" data-v-2b94356e="" class="file-list-container"><div data-v-4bee9f92=""
                                                                                             class="file-list"
                                                                                             style="height: 320px;"><div
                      data-v-4bee9f92="" class="selectable" value=""><div data-v-4bee9f92=""></div></div><div
                      data-v-4bee9f92="" class="no-items">
      No Files
    </div></div></div><div data-v-2b94356e="" class="file-options"><button data-v-2b94356e="" type="button"
                                                                           class="el-button el-button--primary"><!---->
                      <!----><span>
      Select
    </span></button><!----></div></div></div><span class="el-popover__reference-wrapper"><button data-v-9e7b024c=""
                                                                                                 type="button"
                                                                                                 class="el-button el-button--default el-popover__reference"
                                                                                                 aria-describedby="el-popover-82"
                                                                                                 tabindex="0"><!---->
                      <!----><span>
                    Browse
                  </span></button></span></span></div><!----></div>
                  <div data-v-9e7b024c="" class="text-form-description">
                    Select the folder that contains your homepage.
                  </div><!----></div>
              </div>
              <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Upload Folder</label>
                <div class="el-form-item__content">
                  <div data-v-9e7b024c="" class="el-input el-input-group el-input-group--append el-input--prefix">
                    <!----><input type="text" autocomplete="off" class="el-input__inner"><span class="el-input__prefix"><i
                    class="el-input__icon el-icon-fa-folder"></i></span><!---->
                    <div class="el-input-group__append"><span data-v-9e7b024c=""><div role="tooltip"
                                                                                      id="el-popover-1891"
                                                                                      aria-hidden="true"
                                                                                      class="el-popover el-popper"
                                                                                      tabindex="0"
                                                                                      style="display: none;"><!----><div
                      data-v-2b94356e="" data-v-9e7b024c="" class="file-browser is-popover"><nav data-v-f963da46=""
                                                                                                 data-v-2b94356e=""
                                                                                                 class="file-list-breadcrumbs breadcrumbs"><a
                      data-v-f963da46="" title="" href="#"><i data-v-f963da46="" class="el-icon-fa-home"></i></a></nav><div
                      data-v-4bee9f92="" data-v-2b94356e="" class="file-list-container"><div data-v-4bee9f92=""
                                                                                             class="file-list"
                                                                                             style="height: 320px;"><div
                      data-v-4bee9f92="" class="selectable" value=""><div data-v-4bee9f92=""></div></div><div
                      data-v-4bee9f92="" class="no-items">
      No Files
    </div></div></div><div data-v-2b94356e="" class="file-options"><button data-v-2b94356e="" type="button"
                                                                           class="el-button el-button--primary"><!---->
                      <!----><span>
      Select
    </span></button><!----></div></div></div><span class="el-popover__reference-wrapper"><button data-v-9e7b024c=""
                                                                                                 type="button"
                                                                                                 class="el-button el-button--default el-popover__reference"
                                                                                                 aria-describedby="el-popover-1891"
                                                                                                 tabindex="0"><!---->
                      <!----><span>
                    Browse
                  </span></button></span></span></div><!----></div>
                  <div data-v-9e7b024c="" class="text-form-description">
                    Select the folder where uploaded files will be stored.
                  </div><!----></div>
              </div>
            </fieldset>
          </div>
          <div data-v-9e7b024c="" role="tabpanel" id="pane-services" aria-labelledby="tab-services" class="el-tab-pane"
               aria-hidden="true" style="display: none;">
            <fieldset data-v-9e7b024c="">
              <div data-v-9e7b024c="" class="el-form-item"><label class="el-form-item__label">Analytics</label>
                <div class="el-form-item__content">
                  <div data-v-9e7b024c="" class="el-select"><!---->
                    <div class="el-input is-disabled el-input--suffix"><!----><input type="text" disabled="disabled"
                                                                                     readonly="readonly"
                                                                                     autocomplete="off" placeholder=""
                                                                                     class="el-input__inner">
                      <!----><span class="el-input__suffix"><span class="el-input__suffix-inner"><i
                        class="el-select__caret el-input__icon el-icon-arrow-up"></i><!----><!----><!----><!----><!----></span>
                        <!----></span><!----><!----></div>
                    <div class="el-select-dropdown el-popper" style="display: none; min-width: 0px;">
                      <div class="el-scrollbar" style="">
                        <div class="el-select-dropdown__wrap el-scrollbar__wrap"
                             style="margin-bottom: -17px; margin-right: -17px;">
                          <ul class="el-scrollbar__view el-select-dropdown__list"><!---->
                            <li data-v-9e7b024c="" class="el-select-dropdown__item selected"><span>None</span></li>
                          </ul>
                        </div>
                        <div class="el-scrollbar__bar is-horizontal">
                          <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                        </div>
                        <div class="el-scrollbar__bar is-vertical">
                          <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                        </div>
                      </div><!----></div>
                  </div>
                  <div data-v-9e7b024c="" class="text-form-description"><span data-v-9e7b024c="">
                Go to the settings page to enable this feature.
              </span></div><!----></div>
              </div>
            </fieldset>
          </div>
          <div data-v-9e7b024c="" role="tabpanel" id="pane-advanced" aria-labelledby="tab-advanced" class="el-tab-pane"
               aria-hidden="true" style="display: none;">
            <fieldset data-v-9e7b024c="">
              <div data-v-9e7b024c="" class="el-form-item"><!---->
                <div class="el-form-item__content">
                  <div data-v-9e7b024c="" role="switch" class="el-switch" auto-complete="off"><input type="checkbox"
                                                                                                     name=""
                                                                                                     true-value="true"
                                                                                                     class="el-switch__input">
                    <!----><span class="el-switch__core" style="width: 40px;"></span><span
                      class="el-switch__label el-switch__label--right"><!----><span
                      aria-hidden="true">Add To Favorites</span></span></div>
                  <div data-v-9e7b024c="" class="text-form-description">
                    Your favorites will appear in the sidebar for quick access.
                  </div><!----></div>
              </div>
              <div data-v-9e7b024c="" class="el-form-item"><!---->
                <div class="el-form-item__content">
                  <div data-v-9e7b024c="" role="switch" class="el-switch" auto-complete="off"><input type="checkbox"
                                                                                                     name=""
                                                                                                     true-value="true"
                                                                                                     class="el-switch__input">
                    <!----><span class="el-switch__core" style="width: 40px;"></span><span
                      class="el-switch__label el-switch__label--right"><!----><span
                      aria-hidden="true">Enable Lockdown</span></span></div>
                  <div data-v-9e7b024c="" class="text-form-description">
                    When enabled, users won't be able to publish changes to the site.
                  </div><!----></div>
              </div>
              <div data-v-9e7b024c="" class="el-form-item"><!---->
                <div class="el-form-item__content">
                  <div data-v-9e7b024c="" role="switch" aria-disabled="true" class="el-switch is-disabled"
                       auto-complete="off"><input type="checkbox" name="" true-value="true" disabled="disabled"
                                                  class="el-switch__input"><!----><span class="el-switch__core"
                                                                                        style="width: 40px;"></span><span
                    class="el-switch__label el-switch__label--right"><!----><span aria-hidden="true">Enable Change Notifications</span></span>
                  </div>
                  <span data-v-530ebcf4="" data-v-9e7b024c="" class="require-plan"><a data-v-530ebcf4="" href="/billing"
                                                                                      class="el-tooltip"
                                                                                      aria-describedby="el-tooltip-8649"
                                                                                      tabindex="0"><span
                    data-v-530ebcf4="" class="el-tag el-tag--mini el-tag--light"><i data-v-530ebcf4=""
                                                                                    class="el-icon-fa-lock"></i>
        Upgrade
      </span></a></span>
                  <div data-v-9e7b024c="" class="text-form-description">
                    Receive an email when others publish changes to this site.
                  </div><!----></div>
              </div>
            </fieldset><!----></div>
        </div>
      </div>
    </div>
    <div data-v-9e7b024c="" class="text-right">
      <button data-v-9e7b024c="" type="button" class="el-button el-button--default"><!----><!----><span>
      Cancel
    </span></button>
      <button data-v-9e7b024c="" type="submit" class="el-button el-button--primary"><!----><!----><span><span
        data-v-9e7b024c="">Create Site</span></span></button>
    </div>
  </form>
</div>
