<app-sidebar>
  <!-- Sidebar Extra Nav Options -->
  <div child-header>
  </div>

  <!-- Content Regio for that page -->
  <div id="layoutSidenav_content" child-content>
    <app-breadcrumb></app-breadcrumb>
    <main class="p-3 offset-md-3 col-md-5 col-sm-12">
      <form>
        <div class="form-style">
          <div class="container">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#services" type="button" role="tab" aria-controls="services" aria-selected="false">Services</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#advanced" type="button" role="tab" aria-controls="advanced" aria-selected="false">Advanced</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="general" role="tabpanel" aria-labelledby="general-tab" class="tab-pane show active">
                <div class="form-group">
                  <label for="WebsiteName">Name</label>
                  <input type="text" id="WebsiteName" class="form-control" placeholder="Enter a name for your website">
                  <small class="form-text text-muted">Enter your website's name</small>
                </div>
                <div class="form-group">
                  <label for="WebsiteURL">URL</label>
                  <input type="text" id="WebsiteURL" class="form-control" placeholder="https://example.com/">
                  <small class="form-text text-muted">Enter your website's URL</small>
                </div>
                <hr>
                <div class="form-group">
                  <label for="Protocol">Protocol</label>
                  <select id="Protocol" class="form-control">
                    <option>FTP</option>
                    <option>FTP with TLS/SSL</option>
                    <option>SFTP</option>
                    <option>S3</option>
                    <option>WebDAV</option>
                  </select>
                </div>
                <div class="form-group d-flex">
                  <label for="Host" class="me-2">Host</label>
                  <input type="text" id="Host" class="form-control me-2" placeholder="ftp.example.com">
                  <label for="Port">Port</label>
                  <input type="text" id="Port" class="form-control ml-2" placeholder="21">
                </div>
                <div class="form-group d-flex">
                  <label for="Username" class="me-2">Username</label>
                  <input type="text" id="Username" class="form-control me-2">
                  <label for="Password">Password</label>
                  <input type="password" id="Password" class="form-control ml-2">
                </div>
                <hr>
                <div class="form-group d-flex">
                  <label for="HomeFolder" class="me-2">Home folder</label>
                  <input type="text" id="HomeFolder" class="form-control me-2">
                  <button class="btn btn-primary ml-2">Browse</button>
                </div>
                <div class="form-group d-flex">
                  <label for="UploadFolder" class="me-2">Upload folder</label>
                  <input type="text" id="UploadFolder" class="form-control me-2">
                  <button class="btn btn-primary ml-2">Browse</button>
                </div>
                <small class="form-text text-muted">Select the folder where uploaded files will be stored.</small>
              </div>
              <div  id="services" role="tabpanel" aria-labelledby="services-tab" class="tab-pane">
                <div class="form-group">
                  <label for="GoogleAnalytics">Connect Google Analytics</label>
                  <input type="text" id="GoogleAnalytics" class="form-control">
                </div>
              </div>
              <div  id="advanced" role="tabpanel" aria-labelledby="advanced-tab" class="tab-pane">
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="Lockdown">
                    <label class="custom-control-label" for="Lockdown">Enable Lockdown</label>
                  </div>
                  <small class="form-text text-muted">When enabled, users won't be able to publish changes to the
                    site.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-secondary me-2">Cancel</button>
          <button class="btn btn-primary">Create Site</button>
        </div>
      </form>
    </main>
    <app-footer class="mt-auto"></app-footer>
  </div>
</app-sidebar>

