<app-sidebar>
  <div child-header>
    <div class="sb-sidenav-menu-heading">Actions</div>
    <a href="/sites/{{siteId}}/snippets/new" class="nav-link">
      <div class="sb-nav-link-icon"><i class="fa-regular fa-plus"></i></div>
      New Snippet
    </a>
  </div>

  <!-- Content Regio for that page -->
  <div id="layoutSidenav_content" child-content>
    <app-breadcrumb></app-breadcrumb>
    <main class="offset-md-3 col-md-6 col-sm-12">
      <router-outlet></router-outlet>
    </main>
    <app-footer class="mt-auto"></app-footer>
  </div>
</app-sidebar>
