<div class="container-fluid px-4">
  <h1 class="mt-4">Users</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Users</li>
  </ol>

  <div class="row">
    <div class="d-flex bd-highlight mb-3">

      <!-- Actual search box -->
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search Users">
      </div>

      <button type="button" class="btn btn-primary ms-auto">New User</button>
    </div>
  </div>
  <div class="row g-0">
  </div>
</div>
