<app-sidebar>
  <!-- Sidebar Extra Nav Options -->
  <div child-header>
    <div class="sb-sidenav-menu-heading">Admin</div>
    <a class="nav-link" href="/users/new">
      <div class="sb-nav-link-icon"><i class="fa fa-plus"></i></div>
      New User
    </a>
    <div class="sb-sidenav-menu-heading">Actions</div>
    <a class="nav-link" href="/profile">
      <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
      Edit Profile
    </a>
  </div>

  <!-- Content Regio for that page -->
  <div id="layoutSidenav_content" child-content>
    <app-breadcrumb></app-breadcrumb>
    <main class="p-3 offset-md-1 col-md-10 col-sm-12">
      <div class="container-fluid px-4">
        <div class="row">
          <div class="d-flex bd-highlight mb-3">

            <!-- Actual search box -->
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search Users">
            </div>

            <a type="button" href="users/new" class="btn btn-primary ms-auto">New User</a>
          </div>
        </div>
        <div class="row g-0">

<!--          <div class="user-card"><a href="/users/e533aa6e-7567-4b9b-ad93-3129c3727fad"-->
<!--                                    class="user-card-avatar"><i class="el-icon-fa-user"></i></a>-->
<!--            <div class="user-card-name"><a href="/users/e533aa6e-7567-4b9b-ad93-3129c3727fad" class="">Maxim</a></div>-->
<!--            <div class="user-card-role">-->
<!--              Owner-->
<!--            </div>-->
<!--            <div class="user-card-last-seen text-truncate"><span>-->
<!--        Last seen Feb 4, 2023-->
<!--      </span></div>-->
<!--            <div class="user-card-settings"><a href="/profile" class="" title="Edit"><i-->
<!--              class="el-icon-fa-cog"></i></a></div>-->
<!--          </div>-->
          <div class="d-flex flex-row justify-content-between">
            <div class="user-box p-3 bg-white">
              <div class="d-flex">
                <div class="user-icon bg-grey mr-3"></div>
                <div class="align-self-center">
                  <h5 class="text-blue font-size-16">Name <a href="/name/edit" class="text-blue font-size-16">(Edit)</a></h5>
                  <p class="text-a6adb2 font-size-14">Role</p>
                  <p class="text-a6adb2 font-size-14 font-italic">Last seen Feb 8, 2023</p>
                </div>
              </div>
            </div>
            <div class="user-box p-3 bg-white">
              <div class="d-flex">
                <div class="user-icon bg-grey mr-3"></div>
                <div class="align-self-center">
                  <h5 class="text-blue font-size-16">Name <a href="/name/edit" class="text-blue font-size-16">(Edit)</a></h5>
                  <p class="text-a6adb2 font-size-14">Role</p>
                  <p class="text-a6adb2 font-size-14 font-italic">Last seen Feb 8, 2023</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <app-footer class="mt-auto"></app-footer>
  </div>
</app-sidebar>
