.has-search .form-control {
  padding-left: 2.375rem;
  width: 50vw;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.user-box {
  width: calc(50% - 10px);
}

.user-icon {
  width: 50px;
  height: 50px;
}
