.has-search .form-control {
  padding-left: 2.375rem;
  width: 50vw;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.user-box {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 60px;
  color: #e9e9e9;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-name {
  font-size: 16px;
}

.fa-cog {
  margin-left: auto;
  color: #a6adb2;
}
