<app-sidebar>
  <!-- Sidebar Extra Nav Options -->
  <div child-header>
  </div>

  <!-- Content Regio for that page -->
  <div id="layoutSidenav_content" child-content>
    <app-breadcrumb></app-breadcrumb>
    <main class="p-3 offset-md-3 col-md-5 col-sm-12">
      <form [formGroup]="createUserForm" (ngSubmit)="onCreateUser()">
        <div class="form-style">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general"
                type="button" role="tab" aria-controls="general" aria-selected="true">General
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="permissions-tab" data-bs-toggle="tab" data-bs-target="#permissions"
                type="button" role="tab" aria-controls="permissions" aria-selected="false">Permissions
              </button>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane show active" id="general" role="tabpanel" aria-labelledby="general-tab">
              <div class="form-group">
                <label for="NameInput">Name</label>
                <input [formControlName]="'name'" type="text" class="form-control" id="NameInput">
              </div>
              <div class="form-group">
                <label for="EmailInput">Email</label>
                <input [formControlName]="'email'" type="email" class="form-control" id="EmailInput">
                <small class="form-text text-muted">An invitation will be sent to this email address when the user is
                  created.</small>
              </div>
              <div class="form-group">
                <label for="BioInput">Bio</label>
                <textarea [formControlName]="'bio'" class="form-control" id="BioInput" rows="3"></textarea>
                <small class="form-text text-muted">Type a few sentences about this user.</small>
              </div>
            </div>
            <div class="tab-pane" id="permissions" role="tabpanel" aria-labelledby="permissions-tab">

              <div class="form-group">
                <small class="form-text text-muted">Give this user administrative privileges.</small>
                <div class="form-group form-check mb-3">
                  <input [formControlName]="'makeAdministrator'" type="checkbox" class="form-check-input" id="MakeAdministratorCheck">
                  <label class="form-check-label" for="MakeAdministratorCheck">Make administrator</label>
                </div>
                <label for="BioInput">This user will have access to the following sites. <small>Note that admin users have access to all sites.</small></label>
                <ul class="list-group">
                  <div [formArrayName]="'selectedSites'" *ngFor="let site of selectedSitesFormArray.controls; let i=index">
                    <li class="list-group-item border">
                      <input [formControlName]="i" [checked]="sites![i].selected" [disabled]="!sites![i].enabled" class="form-check-input me-1 site-checkbox" type="checkbox" value="{{sites![i].id}}" id="checkbox{{i}}">
                      <label class="form-check-label me-1" for="checkbox{{i}}">{{sites![i].name}} - Created at {{sites![i].createdDate | date: 'dd/MM/yyyy HH:mm'}}</label>
                    </li>
                  </div>
                </ul>
              </div>


            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-secondary me-2">Cancel</button>
          <button class="btn btn-primary" [disabled]="!createUserForm">Create User</button>
        </div>
      </form>

    </main>
    <app-footer class="mt-auto"></app-footer>
  </div>
</app-sidebar>