<app-sidebar>
  <!-- Sidebar Extra Nav Options -->
  <div child-header>
  </div>

  <!-- Content Regio for that page -->
  <div id="layoutSidenav_content" child-content>
    <app-breadcrumb></app-breadcrumb>
    <main class="p-3 offset-md-1 col-md-10 col-sm-12">
      <div class="container-fluid px-4">
        <div class="container">
          <div *ngIf="user !== undefined">
            <div class="row user-info">
              <div class="col">
                <i class="fa fa-user img-fluid" style="font-size: 4rem; margin-bottom: 10px" aria-hidden="true" ></i>
                <h1>{{user.username}}</h1>
                <p>{{user.bio}}</p>
                <p>ROLE = {{user.roles}}</p>
                <a href="mailto:">{{user.email}}</a> <br>
                <small>Created on {{user.creationDate | date: 'dd/MM/yyyy HH:mm'}}</small>
              </div>
            </div>
          </div>


        </div>
      </div>

    </main>
    <app-footer class="mt-auto"></app-footer>
  </div>
</app-sidebar>
