@keyframes dragging-border {
  0% {
    outline-color: #08d
  }
  50% {
    outline-color: rgba(0, 136, 221, 0.25)
  }
  100% {
    outline-color: #08d
  }
}

.mce-content-body {
  outline: solid 2px transparent;
  outline-offset: 2px;
  transition: none
}

.mce-content-body:hover {
  outline-color: rgba(0, 136, 221, 0.33)
}

.mce-content-body:focus, .mce-content-body.mce-focus {
  outline-color: #08d
}

.mce-content-body.mce-content-readonly *[contentEditable='true']:focus, .mce-content-body.mce-content-readonly *[contentEditable='true']:hover {
  outline: none
}

.mce-content-body.cms-initialized {
  transition: 250ms outline-color, 100ms outline-width
}

.mce-content-body.cms-is-dragging {
  animation: 1s dragging-border ease-in-out infinite
}

.mce-content-body *[contentEditable='true']:hover, .mce-content-body *[contentEditable='true']:focus {
  outline: none
}

.mce-content-body *[data-mce-selected='inline-boundary'] {
  outline: dotted 1px currentColor
}

.mce-content-body hr {
  cursor: default
}

.mce-content-body hr[data-mce-selected], .mce-content-body img[data-mce-selected], .mce-content-body *[contentEditable='false'][data-mce-selected]:not(.cms-lock) {
  outline: solid 2px #08d
}

.mce-content-body td[data-mce-selected], .mce-content-body th[data-mce-selected] {
  background-color: #e6f3fc !important
}

.mce-content-body .cms-gallery {
  cursor: pointer
}

.mce-content-body .cms-gallery a {
  pointer-events: none
}

.mce-content-body .cms-repeatable {
  outline: dashed 2px transparent
}

.mce-content-body .cms-repeatable:hover {
  outline-color: rgba(0, 136, 221, 0.33)
}

.mce-content-body .cms-repeatable[data-mce-selected] {
  outline-color: #08d
}

.mce-content-body .cms-lock {
  outline: solid 2px transparent;
  transition: 0.2s outline;
  cursor: default
}

.mce-content-body .cms-lock:hover {
  outline-color: rgba(0, 136, 221, 0.33)
}

.mce-content-body .cms-lock[data-mce-selected] {
  outline-color: #08d
}

.mce-content-body .cms-lock:focus-within .cms-unlock {
  outline-color: transparent
}

.mce-content-body .cms-lock .cms-unlock {
  outline: dashed 1px transparent;
  transition: 0.2s outline;
  cursor: text
}

.mce-content-body .cms-embed {
  position: relative !important
}

.mce-content-body .cms-embed::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #08d;
  opacity: 0;
  cursor: text
}

.mce-content-body .mce-item-anchor {
  outline: solid 2px transparent;
  display: inline-block;
  width: 11px !important;
  height: 15px !important;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvgxmlns= 'http://www.w3.org/2000/svg' viewBox= '0 0 384 512' %3E%3Cg stroke= 'none' stroke-width= '1' fill= 'none' fill-rule= 'evenodd' %3E%3Cg fill-rule= 'nonzero' %3E%3Cpath d= 'M0,512 L0,66.203125 C0,39.693125 25.0664062,0 65.828125,0 C207.554687,4.12595413e-15 291.052083,4.12595413e-15 316.320312,0 C354.222656,0 384,39.693125 384,66.203125 L384,512 L192,400 L0,512 Z' fill= '%23000000' %3E%3C/path%3E%3Cpath d= 'M61,405 L61,94.15625 C61,76.3966211 75.7184115,62 93.875,62 L291.125,62 C309.281589,62 324,76.3966211 324,94.15625 L324,405 L192.5,329.96875 L61,405 Z' stroke= '%23FFFFFF' stroke-width= '40' %3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2px;
  cursor: default;
  transition: none
}

.mce-content-body .mce-item-anchor[data-mce-selected] {
  outline-color: #08d
}

.mce-content-body .mce-visual-caret {
  background-color: black;
  background-color: currentcolor;
  position: absolute
}

.mce-content-body .mce-visual-caret-hidden {
  display: none
}

.mce-content-body *[data-mce-caret] {
  left: -1000px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: auto;
  top: 0
}

.mce-content-body .mce-visual-caret {
  background-color: black;
  background-color: currentcolor;
  position: absolute
}

.mce-content-body .mce-visual-caret-hidden {
  display: none
}

.mce-content-body *[data-mce-caret] {
  left: -1000px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: auto;
  top: 0
}

.mce-content-body .mce-offscreen-selection {
  position: absolute;
  left: -9999999999px;
  width: 100px;
  height: 100px
}

.mce-content-body div.mce-resizehandle {
  background-color: #08d;
  border-color: #08d;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10000;
  cursor: nwse-resize
}

.mce-content-body div.mce-resizehandle:hover {
  background-color: #08d
}

.mce-content-body div.mce-resizehandle:nth-of-type(1) {
  cursor: nwse-resize
}

.mce-content-body div.mce-resizehandle:nth-of-type(2) {
  cursor: nesw-resize
}

.mce-content-body div.mce-resizehandle:nth-of-type(3) {
  cursor: nwse-resize
}

.mce-content-body div.mce-resizehandle:nth-of-type(4) {
  cursor: nesw-resize
}

.mce-content-body .mce-clonedresizable {
  opacity: 0.5;
  outline: 1px dashed black;
  position: absolute;
  z-index: 10000
}

.mce-content-body .mce-resize-helper {
  background: #2e3235;
  background: rgba(0, 0, 0, 0.75);
  border: 1px;
  border-radius: 2px;
  color: #fff;
  display: none;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin: 5px 10px;
  padding: 5px;
  position: absolute;
  white-space: nowrap;
  z-index: 10001
}

.cms-editable[data-type='background'], .cms-editable[data-type='gallery'], img.cms-editable {
  cursor: pointer;
  outline: solid 2px transparent;
  transition: 250ms outline
}

.cms-editable[data-type='background']:hover, .cms-editable[data-type='gallery']:hover, img.cms-editable:hover {
  outline-color: rgba(0, 136, 221, 0.33)
}

.cms-editable[data-type='background']:focus, .cms-editable[data-type='gallery']:focus, img.cms-editable:focus {
  outline-color: #08d
}

.cms-editable[data-type='background'] a, .cms-editable[data-type='gallery'] a, img.cms-editable a {
  pointer-events: none
}

.cms-editable[data-type='gallery'] {
  min-height: 1rem
}

.ephox-snooker-resizer-bar {
  background-color: #08d;
  opacity: 0
}

.ephox-snooker-resizer-cols {
  cursor: col-resize
}

.ephox-snooker-resizer-rows {
  cursor: row-resize
}

.ephox-snooker-resizer-bar.ephox-snooker-resizer-bar-dragging {
  opacity: 0.2
}

a, area, input, textarea {
  cursor: not-allowed
}

.cms-editable a, .cms-editable area, .cms-editable input, .cms-editable textarea {
  cursor: text
}
