<!-- Footer Area Start -->
 <div class="container">
    <!-- Footer Background Image Start -->
    <div class="footer--bg" data-bg-img="templates/Neobyte/img/footer-img/bg.png"></div>
    <!-- Footer Background Image End -->
    <div class="row">
      <!-- Footer Widget Start -->
      <div class="col-md-4 col-md-offset-2 footer--widget">
        <!-- Footer About Widget Start -->
        <div class="footer--about">
          <h2>About Us</h2>
          <p>Neobyte is a belgian based Design and Web hosting provider that was established by a group of students in january 2021.</p>
          <a href="#"><i class="fa fm fa-angle-double-right"></i>Read More</a>
          <div class="footer--contact-social" style="margin-left: -10px;">
            <ul class="nav navbar-nav">
              <li><a href="https://www.facebook.com/neobytehosting"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/company/75485973/admin/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Footer About Widget End -->
      </div>
      <!-- Footer Widget End -->
      <!-- Footer Widget Start -->
      <div class="col-md-3 footer--widget">
        <!-- Footer Links Widget Start -->
        <div class="footer--links">
          <h2>Useful Links</h2>
          <ul>
            <li><a href="https://neobyte.net/faq"><i class="fa fm fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="https://neobyte.net/billing/index.php?rp=/knowledgebase/13/Terms-Of-Service.html"><i class="fa fm fa-angle-double-right"></i>Terms of Service</a></li>
            <li><a href="https://neobyte.net/billing/index.php?rp=/knowledgebase/19/Privacy-Policy.html"><i class="fa fm fa-angle-double-right"></i>Privacy</a></li>
            <li><a href="https://neobyte.net/billing/contact.php"><i class="fa fm fa-angle-double-right"></i>Contact Us</a></li>
            <li><a href="https://neobyte.net/affiliate"><i class="fa fm fa-angle-double-right"></i>Affiliate</a></li>
          </ul>
        </div>
        <!-- Footer Links Widget End -->
      </div>
      <!-- Footer Widget End -->
      <!-- Footer Widget Start -->
      <div class="col-md-3 footer--widget">
        <!-- Footer Contact Widget Start -->
        <div class="footer--contact">
          <h2>Contact</h2>
          <a href="mailto:contact@neobyte.net" class="btn-block btn--primary btn--ripple"><i class="fa fm fa-envelope"></i>contact@neobyte.net</a>
          <br>
          <a class="btn-block btn--primary btn--ripple translate" href="{$currentpagelinkback}language=english" style="width:49%;float:left;text-align:center;margin-right:5px;">English</a>
          <a class="btn-block btn--primary btn--ripple translate" href="{$currentpagelinkback}language=dutch" style="width:49%;margin-top:0px;text-align:center">Nederlands</a>
        </div>
        <!-- Footer Contact Widget End -->
      </div>
      <!-- Footer Widget End -->
    </div>
  </div>
  <!-- Footer Copyright Start -->
  <div class="footer--copyright text-center">
    <div class="container">
      <p>Copyright {{now.getFullYear()}} <a href="{$WEB_ROOT}/index.php">Neobyte</a>. All Rights Reserved.</p>
    </div>
  </div>
  <!-- Footer Copyright End -->
