/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
.div-service-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.list-group-item .list-group-item-action {
  padding: 4px 10px;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.div-service-name {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.div-service-name>span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.div-service-buttons {
  margin-left: auto;
}

.div-service-buttons .dropdown-item {
  font-size: .875rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
@media (min-width: 768px) {
  .div-service-status .label {
    width: initial!important;
  }

  .div-service-status .label-placeholder {
    position: absolute;
    visibility: hidden;
  }
  .div-service-status .label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    display: inline-block;
    line-height: initial;
    margin: 0;
  }
  .label {
    max-width: 100%;
    margin-bottom: 5px;
    border-radius: 4px;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }
  .dropdown-menu.show {
    display: block;
  }
}

