a {
  color: #09d;
  text-decoration: none
}

.btn-block {
  display: block;
  width: 100%
}

.margin-top-none {
  margin-top: 0
}

.margin-top-xs {
  margin-top: 5px
}

.margin-top-sm {
  margin-top: 10px
}

.margin-top-md {
  margin-top: 20px
}

.margin-top-lg {
  margin-top: 40px
}

.margin-bottom-none {
  margin-bottom: 0
}

.margin-bottom-xs {
  margin-bottom: 5px
}

.margin-bottom-sm {
  margin-bottom: 10px
}

.margin-bottom-md {
  margin-bottom: 20px
}

.margin-bottom-lg {
  margin-bottom: 40px
}

.gray-lock,.gray-pencil,.gray-user {
  color: #bbb
}

.yellow-bell,.yellow-key,.yellow-star {
  color: #fb0
}

b,strong {
  font-weight: 600
}

code {
  font-family: MesloLGMDZ,Menlo,Monaco,consolas,monospace;
  font-size: 14px;
  color: #333;
  background: rgba(0,0,0,.05)
}

.dropdown-menu {
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.dropdown-menu li {
  position: relative;
  text-align: left
}

.dropdown-menu li a {
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.dropdown-menu li a .fa {
  display: inline-block;
  width: 18px;
  color: #818a91
}

.dropdown-menu li a:active .fa,.dropdown-menu li a:focus .fa,.dropdown-menu li a:hover .fa {
  color: #fff
}

.dropdown-menu li a.on .fa {
  color: inherit
}

.dropdown-menu li.dropdown-header {
  white-space: nowrap
}

.dropdown-menu li.checked {
  border: dashed 2px #11b6ff;
  margin: 0 2px
}

.dropdown-menu li.disabled a:active .fa,.dropdown-menu li.disabled a:focus .fa,.dropdown-menu li.disabled a:hover .fa {
  color: inherit
}

.dropdown-menu.dropdown-menu-scroll {
  max-height: 330px;
  overflow: auto
}

.form-actions {
  margin-bottom: 20px
}

.form-actions .btn {
  margin-bottom: 4px
}

.form-actions .btn+.btn {
  margin-left: 4px
}

.form-actions .form-actions-secondary {
  float: right;
  margin-bottom: 10px
}

.form-actions:last-child {
  margin-bottom: 0
}

.help-block {
  font-weight: 300;
  font-size: 12px;
  color: #999
}

label {
  font-weight: 400;
  color: #999;
  transition: .2s color
}

legend {
  color: #aaa;
  border: none
}

input[type=search] {
  border-radius: 22px
}

textarea.form-control {
  resize: vertical
}

input.code,textarea.code {
  font-family: MesloLGMDZ,Menlo,Monaco,consolas,monospace;
  font-size: 14px
}

textarea.no-resize {
  resize: none
}

.form-control {
  -webkit-appearance: none!important;
  box-shadow: none!important;
  border-radius: 3px;
}

.form-control:focus {
  box-shadow: none!important
}

select.form-control {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right .75rem center;
  background-size: 8px 10px
}

.has-error .control-label,.has-error .help-block {
  color: #ff851b
}

.has-error .form-control,.has-error .form-control:focus {
  border-color: #ff851b
}

.formSubmit-feedback {
  margin: 20px 0
}

.formSubmit-feedback:last-child {
  margin-bottom: 0
}

.form-control.readonly-active {
  background-color: #fff;
  cursor: pointer
}

.btn {
  transition: .1s background,.1s border;
  border-radius: 3px
}

.btn-default {
  color: #666;
  border-color: #ccc;
  background-color: #fff
}

.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #e6e6e6;
  border-color: #b3b3b3;
  color: #666
}

.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
  background-color: #fff;
  border-color: #f2f2f2
}

.btn-primary {
  color: #fff;
  border-color: #09d;
  background-color: #09d
}

.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #0076aa;
  border-color: #0076aa;
  color: #fff
}

.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
  background-color: #09d;
  border-color: #0087c4
}

.btn-success {
  color: #fff;
  border-color: #8cc152;
  background-color: #8cc152
}

.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #72a53b;
  border-color: #72a53b;
  color: #fff
}

.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover {
  background-color: #8cc152;
  border-color: #7fb842
}

.btn-info {
  color: #fff;
  border-color: #40c9ff;
  background-color: #40c9ff
}

.btn-info.active,.btn-info:active,.btn-info:focus,.btn-info:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #0dbbff;
  border-color: #0dbbff;
  color: #fff
}

.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover {
  background-color: #40c9ff;
  border-color: #26c2ff
}

.btn-warning {
  color: #fff;
  border-color: #ff851b;
  background-color: #ff851b
}

.btn-warning.active,.btn-warning:active,.btn-warning:focus,.btn-warning:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #e76b00;
  border-color: #e76b00;
  color: #fff
}

.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled],.btn-warning[disabled].active,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover {
  background-color: #ff851b;
  border-color: #ff7701
}

.btn-danger {
  color: #fff;
  border-color: #ff4136;
  background-color: #ff4136
}

.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ff1103;
  border-color: #ff1103;
  color: #fff
}

.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled],.btn-danger[disabled].active,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover {
  background-color: #ff4136;
  border-color: #ff291c
}

.btn-inverse {
  color: #fff;
  border-color: #474949;
  background-color: #474949
}

.btn-inverse.active,.btn-inverse:active,.btn-inverse:focus,.btn-inverse:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #2e2f2f;
  border-color: #2e2f2f;
  color: #fff
}

.btn-inverse.disabled,.btn-inverse.disabled.active,.btn-inverse.disabled:active,.btn-inverse.disabled:focus,.btn-inverse.disabled:hover,.btn-inverse[disabled],.btn-inverse[disabled].active,.btn-inverse[disabled]:active,.btn-inverse[disabled]:focus,.btn-inverse[disabled]:hover,fieldset[disabled] .btn-inverse,fieldset[disabled] .btn-inverse.active,fieldset[disabled] .btn-inverse:active,fieldset[disabled] .btn-inverse:focus,fieldset[disabled] .btn-inverse:hover {
  background-color: #474949;
  border-color: #3a3c3c
}

.btn-inverse .caret {
  border-top-color: #fff
}

.btn-file {
  position: relative;
  overflow: hidden
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  opacity: 0;
  filter: alpha(opacity=0);
  background: #fff;
  outline: 0;
  cursor: inherit;
  display: block
}

.modal .modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none
}

.modal .modal-header {
  color: #555;
  background: #f2f2f2;
  border-bottom: solid 1px #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px
}

.modal .modal-header .close {
  margin-top: 0;
  transition: .1s opacity
}

.modal .modal-header .modal-title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.modal .modal-body .alert:last-child {
  margin-bottom: 0
}

.modal .modal-footer {
  margin-top: 0;
  padding: 15px
}

.modal .modal-lg {
  max-width: 767px;
  width: auto
}

.panel {
  box-shadow: none
}

.panel.panel-default .panel-heading {
  background: #f8f8f8
}

.panel>:last-child {
  margin-bottom: 0
}

.panel>:last-child>:last-child {
  margin-bottom: 0
}

.panel>:last-child>:last-child>:last-child {
  margin-bottom: 0
}

.panel .panel-subheading {
  font-size: 12px;
  color: #999;
  line-height: 34px;
  min-height: 34px;
  padding: 0 10px
}

.panel .panel-subheading .loader.pull-right {
  margin-top: 7px
}

.panel .control-label {
  color: inherit
}

.popover .popover-title {
  color: #999;
  margin-bottom: 0
}

.popover .popover-content {
  color: #333;
  font-size: 15px;
  padding: 15px
}

.well {
  background-color: #fff
}

.well label {
  color: inherit
}

.tooltip {
  font-size: 14px;
  text-shadow: none
}

.nav-tabs li a:hover {
  background-color: inherit
}

.tab-content {
  padding: 20px 4px 0 4px
}

.badge.badge-primary {
  background-color: #09d
}

.badge.badge-success {
  background-color: #8cc152
}

.badge.badge-info {
  background-color: #40c9ff
}

.badge.badge-warning {
  background-color: #ff851b
}

.badge.badge-danger {
  background-color: #ff4136
}

.text-success {
  color: #8cc152
}

.text-info {
  color: #40c9ff
}

.text-warning {
  color: #ff851b
}

.text-danger {
  color: #ff4136
}

.alert .alert-link {
  font-weight: inherit;
  color: inherit;
  text-decoration: underline
}

.nanobar {
  z-index: 100000;
  height: 5px;
  overflow: hidden
}

.nanobar .bar {
  background-color: #09d
}

#main-menu {
  vertical-align: middle;
  background: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#main-menu .inner {
  height: 70px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto
}

#main-menu .toggle {
  outline: 0;
  text-decoration: none
}

#main-menu ul {
  position: absolute;
  right: 20px;
  bottom: 0;
  padding: 0;
  margin: 0
}

#main-menu ul li {
  padding: 0;
  margin: 0
}

#main-menu ul li a {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: #fff;
  background: #666;
  line-height: 45px;
  text-decoration: none;
  padding: 0 22px;
  margin: 0 0 0 5px;
  display: inline-block;
  -webkit-transition: background .1s;
  transition: background .1s
}

#main-menu ul li a:hover {
  background: #595959;
  -webkit-transition: background .1s;
  transition: background .1s
}

#main-menu ul .logout a .text {
  display: none
}

#main-menu #main-logo {
  position: absolute;
  top: 5px;
  left: 25px;
  max-width: 320px;
  max-height: 60px
}

#main-menu #impersonate-notice {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 330px;
  line-height: 30px;
  background: #fffccc;
  background: rgba(255,252,204,.95);
  padding: 10px 30px 10px 10px;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

#main-menu #impersonate-notice .fa {
  margin-right: 4px
}

#main-menu #impersonate-notice .stop {
  position: absolute;
  width: 30px;
  top: 9px;
  right: 0;
  color: #999000;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-decoration: none
}

#main-menu #impersonate-notice .stop:hover {
  color: #333000
}

.help #main-menu ul .help a,.settings #main-menu ul .settings a,.sites #main-menu ul .sites a,.users #main-menu ul .users a {
  color: #555;
  background: #f2f2f2
}

@media (max-width: 767px) {
  #main-menu {
    padding:0;
    min-height: 48px
  }

  #main-menu .inner {
    height: auto;
    padding-top: 5px
  }

  #main-menu .toggle {
    position: absolute;
    right: 10px;
    top: 4px;
    padding: 10px;
    color: #fff
  }

  #main-menu .toggle:hover {
    text-decoration: none
  }

  #main-menu ul {
    -webkit-transition: all .25s;
    transition: all .25s;
    text-align: left;
    position: absolute;
    z-index: 999;
    top: 48px;
    left: 0;
    right: 0;
    display: none
  }

  #main-menu ul li {
    display: block
  }

  #main-menu ul li a {
    border-top: solid 1px #595959;
    border-radius: 0;
    display: block;
    margin: 0
  }

  #main-menu ul li a i {
    width: 25px;
    display: inline-block
  }

  #main-menu ul li a .text {
    display: inline
  }

  #main-menu ul li:first-child a {
    border-top: none
  }

  #main-menu ul .logout a .text {
    display: inline
  }

  #main-menu ul .logout a .fa {
    display: none
  }

  #main-menu #main-logo {
    position: static;
    max-width: 180px;
    max-height: 38px;
    margin-left: 5px
  }

  #main-menu #impersonate-notice {
    position: absolute;
    top: 5px;
    left: 0;
    line-height: 18px;
    font-size: 13px;
    max-width: 180px;
    max-height: 38px;
    margin-left: 5px
  }

  #main-menu #impersonate-notice .stop {
    right: 0
  }

  .help #main-menu ul .help a,.settings #main-menu ul .settings a,.sites #main-menu ul .sites a,.users #main-menu ul .users a {
    background-color: #09d;
    color: #fff
  }

  #main-menu.mobile-menu-on .inner {
    padding-bottom: 0
  }

  #main-menu.mobile-menu-on ul {
    display: block
  }

  #main-menu.mobile-menu-on ul li a {
    margin: 0
  }
}

body.admin .stat-block {
  text-align: right;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px
}

body.admin .stat-block i {
  position: absolute;
  top: 18px;
  left: 36px;
  font-size: 72px;
  color: #eee;
  z-index: 0;
  -webkit-transition: .3s all;
  transition: .3s all
}

body.admin .stat-block .count {
  position: relative;
  font-size: 36px;
  z-index: 1
}

body.admin .stat-block h5 {
  position: relative;
  color: #999;
  font-size: 12px;
  margin-top: 0;
  z-index: 1
}

body.admin .stat-block:hover i {
  color: #09d;
  -webkit-transform: scale(1.1,);
  -ms-transform: scale(1.1,);
  transform: scale(1.1,)
}

body.admin table tr td,body.admin table tr th {
  vertical-align: middle
}

@media (max-width: 479px) {
  body.admin .stat-block i {
    top:32px;
    font-size: 50px
  }

  body.admin .stat-block .count {
    font-size: 28px
  }
}

.hlist {
  border-radius: 4px;
  border: solid 1px #ddd;
  margin-bottom: 20px
}

.hlist .hlist-header {
  background: #f8f8f8;
  border-bottom: solid 1px #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 10px 15px
}

.hlist .hlist-header input {
  margin-bottom: 0
}

.hlist .hlist-subheader {
  font-size: 12px;
  color: #999;
  line-height: 34px;
  min-height: 35px;
  padding: 0 10px
}

.hlist .hlist-subheader .loader.pull-right {
  margin-top: 7px
}

.hlist .hlist-body {
  list-style: none;
  padding: 0;
  margin: 0
}

.hlist .hlist-body .hlist-item {
  background: #fff;
  border-top: solid 1px #ddd;
  position: relative;
  padding: 10px 40px 10px 40px;
  margin: 0
}

.hlist .hlist-body .hlist-item .hlist-title {
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block
}

.hlist .hlist-body .hlist-item .hlist-description {
  font-size: 12px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block
}

.hlist .hlist-body .hlist-item .hlist-icon {
  position: absolute;
  font-size: 21px;
  color: #b7b7b7;
  text-decoration: none
}

.hlist .hlist-body .hlist-item .hlist-icon.hlist-icon-primary {
  left: 10px;
  right: auto
}

.hlist .hlist-body .hlist-item .hlist-icon.hlist-icon-primary .fa-star,.hlist .hlist-body .hlist-item .hlist-icon.hlist-icon-primary .fa-star:hover {
  color: #fb0
}

.hlist .hlist-body .hlist-item .hlist-icon.hlist-icon-secondary {
  top: 10px;
  right: 10px
}

.hlist .hlist-body .hlist-item a.hlist-icon:hover {
  color: #777
}

.hlist .hlist-body .hlist-item.loading .hlist-icon-primary i,.hlist .hlist-body .hlist-item.loading .hlist-icon-primary i:hover {
  color: transparent!important;
  text-shadow: none!important;
  background: url(/src/img/loader/spinner.gif) center no-repeat;
  background-size: contain
}

.hlist .hlist-body .hlist-item .hlist-dropdown {
  position: absolute;
  top: 10px;
  right: 10px
}

.hlist .hlist-body .hlist-item .hlist-dropdown .hlist-dropdown-trigger {
  position: static
}

.hlist .hlist-body .hlist-item .hlist-dropdown li a {
  color: #09d
}

.hlist .hlist-body .hlist-item .hlist-dropdown li a i {
  color: #999
}

.hlist .hlist-body .hlist-item .hlist-dropdown li a:hover {
  color: #fff
}

.hlist .hlist-body .hlist-item .hlist-dropdown li a:hover i {
  color: #fff
}

.hlist .hlist-body .hlist-item .hlist-dropdown .dropdown-menu {
  margin-right: -6px
}

.hlist .hlist-body .hlist-item .hlist-dropdown .dropdown-menu:before {
  position: absolute;
  top: -8px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #d2d2d2;
  border-left: 7px solid transparent;
  content: ''
}

.hlist .hlist-body .hlist-item .hlist-dropdown .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: ''
}

.hlist .hlist-body .hlist-item .hlist-dropdown .dropdown-menu a {
  padding-left: 15px;
  padding-right: 15px
}

.hlist .hlist-body .hlist-item .hlist-dropdown.dropup .dropdown-menu:before {
  top: auto;
  bottom: -8px;
  border-bottom: none;
  border-top: 7px solid #d2d2d2
}

.hlist .hlist-body .hlist-item .hlist-dropdown.dropup .dropdown-menu:after {
  top: auto;
  bottom: -6px;
  border-bottom: none;
  border-top: 6px solid #fff
}

.hlist .hlist-body li:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

body.file-manager-open {
  overflow: hidden
}

body.file-manager-open.file-manager-modal-fix .modal {
  display: none!important
}

#file-manager-backdrop {
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: .001;
  filter: alpha(opacity=.1);
  overflow: auto
}

#file-manager-container {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 0 0;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#file-manager-container #file-manager-dialog {
  position: absolute;
  top: 0;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  background: #fff;
  border: solid 1px #ddd;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0 10px 50px rgba(0,0,0,.25);
  box-shadow: 0 10px 50px rgba(0,0,0,.25);
  -webkit-transform: translate(0,-200px);
  -ms-transform: translate(0,-200px);
  transform: translate(0,-200px);
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text
}

#file-manager-container #file-manager-dialog .body {
  padding: 20px 20px 0 20px
}

#file-manager-container #file-manager-dialog .body .btn-file {
  padding: 0;
  margin: 0
}

#file-manager-container #file-manager-dialog .body .filebrowser {
  height: 482px;
  transition: .2s border-color,.2s background-color
}

#file-manager-container #file-manager-dialog .body .filebrowser .filebrowser-item {
  transition: .2s border-color,.2s background-color
}

#file-manager-container #file-manager-dialog .body .filebrowser.dragging {
  border-color: #09d;
  background-color: #e7f8ff
}

#file-manager-container #file-manager-dialog .body .filebrowser.dragging .filebrowser-item {
  background-color: #e7f8ff;
  border-color: #e7f8ff
}

#file-manager-container #file-manager-dialog .body #file-manager-shortcuts {
  margin-bottom: 20px
}

#file-manager-container #file-manager-dialog .body #file-manager-preview {
  text-align: center;
  margin-top: 30px
}

#file-manager-container #file-manager-dialog .body #file-manager-preview img {
  max-width: 100%;
  max-height: 120px
}

#file-manager-container #file-manager-dialog .footer {
  border-bottom: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: right;
  padding: 5px 20px 20px 20px
}

#file-manager-container #file-manager-dialog .footer .btn+.btn {
  margin-left: 5px
}

#file-manager-container #file-manager-dialog .file-manager-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background: rgba(255,255,255,.95);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: auto;
  padding: 200px 100px
}

#file-manager-container #file-manager-dialog .file-manager-panel .form-actions {
  padding-bottom: 0;
  margin-bottom: 0
}

#file-manager-container #file-manager-dialog .file-manager-panel .form-actions .btn {
  margin-left: 4px
}

@media (max-width: 767px) {
  #file-manager-container #file-manager-dialog {
    width:100%;
    left: 0;
    margin-left: 0
  }

  #file-manager-container #file-manager-dialog #file-manager-preview,#file-manager-container #file-manager-dialog #file-manager-shortcuts {
    display: none
  }

  #file-manager-container #file-manager-dialog #file-manager-filebrowser {
    height: 152px
  }

  #file-manager-container #file-manager-dialog .file-manager-panel {
    padding: 125px 25px
  }
}

#photo-gallery-modal #photo-gallery-loader {
  height: 279px;
  overflow: auto;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 0 0 15px 0
}

#photo-gallery-modal #photo-gallery-images {
  height: 279px;
  overflow: auto;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 0 0 15px 0;
  -webkit-overflow-scrolling: touch
}

#photo-gallery-modal #photo-gallery-images li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
  text-align: center;
  width: 85px;
  height: 85px;
  min-height: 0;
  line-height: 82px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 4px;
  margin-bottom: 4px;
  cursor: move;
  -webkit-transition: .1s background ease;
  transition: .1s background ease
}

#photo-gallery-modal #photo-gallery-images li.sortable-placeholder {
  border: dashed 2px #ddd
}

#photo-gallery-modal #photo-gallery-images li img {
  max-width: 75px;
  max-height: 75px;
  vertical-align: middle;
  background: #fff;
  border: solid 1px transparent;
  border-radius: 4px;
  opacity: 1;
  filter: alpha(opacity=100)
}

#photo-gallery-modal #photo-gallery-images li.photo-gallery-active {
  background-color: #09d
}

#photo-gallery-modal #photo-gallery-images li.photo-gallery-active img {
  border-color: #fff
}

::-moz-selection {
  background: #b3d4fd;
  text-shadow: none
}

::selection {
  background: #b3d4fd;
  text-shadow: none
}

#main-container {
  max-width: 1200px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto
}

.well-checkbox {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 15px
}

.well-checkbox.well-checkbox-fixed {
  height: 282px;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}

.well-checkbox .loader {
  margin-top: 15px
}

.list-icons {
  list-style: none;
  padding: 0;
  margin: 0
}

.list-icons li {
  margin-bottom: 5px
}

.list-icons li i {
  color: #999;
  display: inline-block;
  min-width: 18px
}

form .formSubmit-loader {
  width: 32px;
  height: 32px;
  opacity: 0;
  filter: alpha(opacity=0);
  margin: 0 4px
}

form.formSubmit-busy .formSubmit-loader {
  opacity: 100;
  filter: alpha(opacity=10000)
}

form .form-heading {
  margin: 5px 0 25px 0;
  color: #999;
  border-bottom: solid 1px #eee;
  font-weight: 300
}

a[href],button {
  -ms-touch-action: none;
  touch-action: none
}

.loader {
  width: 16px;
  height: 16px;
  background: url(/src/img/loader/spinner.gif) center no-repeat;
  background-size: contain;
  vertical-align: middle;
  display: inline-block
}

.loader.loader-2x {
  width: 32px;
  height: 32px
}

.loader.loader-4x {
  width: 64px;
  height: 64px
}

.loader-bg {
  min-height: 100px;
  background: url(/src/img/loader/spinner.gif) center no-repeat;
  background-size: 16px
}

.loader-bg.loader-bg-2x {
  background-size: 32px
}

.loader-bg.loader-bg-4x {
  background-size: 64px
}

.pika-single {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif
}

.pika-single abbr {
  font-weight: 400;
  border: none;
  cursor: default
}

.is-today .pika-button {
  color: #09d
}

.is-selected .pika-button {
  background: #09d;
  color: #fff;
  box-shadow: inset 0 1px 3px #0076aa
}

#main-toolbar-container {
  background: #f2f2f2;
  border-bottom: solid 1px #ddd
}

#main-toolbar-container #main-toolbar {
  max-width: 1200px;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px 30px 10px 30px;
  margin: 0 auto
}

#main-toolbar-container #main-toolbar .fa-angle-right {
  color: #888;
  margin: 0 4px
}

#main-toolbar-container #main-toolbar .label {
  text-shadow: none;
  font-size: 15px
}

.empty-state {
  border-radius: 4px;
  text-align: center;
  color: #c4c4c4;
  padding: 10px 20px
}

.empty-state i {
  color: #ddd;
  margin-bottom: 10px
}

.empty-state.empty-state-sm {
  font-size: 13px
}

.empty-state.empty-state-sm i {
  font-size: 100px
}

.empty-state.empty-state-md {
  font-size: 14px;
  padding: 25px 20px
}

.empty-state.empty-state-md i {
  font-size: 150px
}

.empty-state.empty-state-lg {
  font-size: 16px;
  padding: 50px 20px
}

.empty-state.empty-state-lg i {
  font-size: 200px
}

.empty-state.empty-state-lg i.fa-group {
  margin-top: 10px;
  margin-bottom: 10px
}

.empty-state.empty-state-dashed {
  border: dashed 2px #ddd
}

.empty-state h1,.empty-state h2,.empty-state h3,.empty-state h4,.empty-state h5,.empty-state h6 {
  color: #c4c4c4;
  margin: 0 0 10px 0
}

.error-message {
  color: #999;
  text-align: center;
  padding: 50px 20px
}

.error-message i {
  font-size: 200px;
  margin-bottom: 15px
}

.error-message h1,.error-message h2,.error-message h3,.error-message h4,.error-message h5,.error-message h6 {
  color: #333;
  margin: 0 0 15px 0
}

.error-message p {
  margin-bottom: 15px
}

.sidebar-options {
  padding-left: 0;
  margin-bottom: 0
}

.sidebar-options>li {
  list-style: none;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.sidebar-options>li.divider {
  border-top: solid 1px #eee;
  margin: 20px 0
}

.sidebar-options>li i {
  color: #999;
  min-width: 18px;
  display: inline-block
}

.auth #logo {
  margin-bottom: 20px
}

.auth form {
  max-width: 320px;
}

.auth form .form-actions {
  padding-bottom: 0;
  margin-bottom: 0
}

.auth form .form-actions .btn {
  margin-bottom: 0
}

.auth form .help-text {
  font-size: 13px;
  color: #999
}

.auth .panel-heading {
  text-align: center
}

.auth .panel-heading h3 {
  font-size: 18px;
  margin: 0
}

.auth .password-container {
  position: relative
}

.auth .password-container .form-control {
  padding-right: 30px
}

.auth .password-container .forgot-password {
  position: absolute;
  z-index: 10;
  top: 7px;
  right: 10px
}

#analytics-select {
  max-width: 300px;
  margin-top: 10px
}

#pasv-container {
  margin-top: 30px
}

#test-connection-status {
  font-size: 16px;
  line-height: 30px;
  margin: 40px 0
}

#test-connection-status .loader {
  width: 24px;
  height: 24px
}

#welcome-message-modal .control-label {
  color: inherit
}

#permissions .panel-body {
  padding: 0
}

#permissions .list-group .list-group-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: none;
  border-right: none;
  margin-top: -1px;
  border-bottom: none
}

#permissions .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0
}

#permissions .list-group .list-group-item .badge {
  margin-right: 0
}

.touch #permissions .list-group .list-group-item:hover {
  background-color: inherit!important
}

#permissions-modal .control-label,#privileges .control-label {
  color: inherit
}

.user-card {
  position: relative;
  border: solid 1px #ddd;
  padding: 20px 20px 20px 60px;
  border-radius: 8px;
  border-left-width: 6px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin-bottom: 15px
}

.user-card h3 {
  margin-top: 0
}

.user-card i {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 40px;
  margin-right: 10px;
  color: #b7b7b7
}

.user-card .type {
  font-weight: 300;
  font-size: 12px;
  color: #999
}

.user-card .actions {
  border-top: solid 1px #eee;
  padding-top: 15px;
  margin-bottom: 0
}

.activity-date {
  font-size: 12px
}

.analytics .highcharts-container small {
  color: #666;
  font-size: 11px
}

.analytics .analytics-alert {
  padding-top: 80px;
  padding-bottom: 80px
}

.analytics #analytics-tabs {
  position: relative
}

.analytics #analytics-tabs .table .description {
  word-break: break-word
}

.analytics #date-picker {
  position: absolute;
  top: -10px;
  right: 0;
  width: 240px;
  text-align: center;
  border-radius: 4px
}

.analytics #date-picker .input-sm {
  width: 90px;
  margin-bottom: 0;
  display: inline-block
}

.analytics #date-picker i {
  color: #999
}

#template-list .list-group-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

#template-list .list-group-item i {
  color: #999;
  margin-right: 4px
}

#notifications-icon.fa-bell {
  color: #fb0
}

#lockdown-alert {
  text-align: center;
  padding: 80px 20px
}

#lockdown-alert i {
  color: #bbb;
  font-size: 200px
}

#fixed-toolbar {
  background: #fff;
  border-bottom: solid 1px #ddd;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#fixed-toolbar #fixed-toolbar-inner {
  max-width: 1200px;
  line-height: 40px;
  min-height: 42px;
  padding: 0 20px;
  margin: 0 auto
}

#fixed-toolbar #fixed-toolbar-inner .btn {
  border-radius: 4px;
  margin: 4px 0
}

#fixed-toolbar #fixed-toolbar-inner .btn:active,#fixed-toolbar #fixed-toolbar-inner .btn:focus {
  outline: 0
}

#fixed-toolbar #fixed-toolbar-inner .btn.btn-default {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  padding-right: 5px;
  padding-left: 5px;
  -webkit-transition: .3s opacity ease,.15s background-color ease,.15s color ease;
  transition: .3s opacity ease,.15s background-color ease,.15s color ease
}

#fixed-toolbar #fixed-toolbar-inner .btn.btn-default.on {
  color: #11b6ff
}

#fixed-toolbar #fixed-toolbar-inner .btn.btn-default:active,#fixed-toolbar #fixed-toolbar-inner .btn.btn-default:focus {
  background-color: #e4e4e4
}

#fixed-toolbar #fixed-toolbar-inner .btn.btn-default.disabled {
  opacity: .25;
  filter: alpha(opacity=25);
  color: inherit
}

#fixed-toolbar #fixed-toolbar-inner .btn-group {
  float: left;
  margin-left: 10px;
  margin-right: 10px
}

#fixed-toolbar #fixed-toolbar-inner .example-h1 {
  font-size: 140%
}

#fixed-toolbar #fixed-toolbar-inner .example-h2 {
  font-size: 130%
}

#fixed-toolbar #fixed-toolbar-inner .example-h3 {
  font-size: 120%
}

#fixed-toolbar #fixed-toolbar-inner .example-h4 {
  font-size: 110%
}

#fixed-toolbar #fixed-toolbar-inner .example-h5 {
  font-size: 100%
}

#fixed-toolbar #fixed-toolbar-inner .example-h6 {
  font-size: 90%
}

#fixed-toolbar #fixed-toolbar-inner .example-blockquote {
  font-style: italic
}

#fixed-toolbar #fixed-toolbar-inner .example-pre {
  font-family: MesloLGMDZ,Menlo,Monaco,consolas,monospace
}

#fixed-toolbar #fixed-toolbar-inner .instructions {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

#fixed-toolbar #fixed-toolbar-inner .save-options {
  float: right
}

#fixed-toolbar #fixed-toolbar-inner .save-options .btn-group {
  margin-right: 0
}

#fixed-toolbar #fixed-toolbar-inner .save-options .dropdown {
  margin-left: 4px
}

#fixed-toolbar #fixed-toolbar-inner #custom-styles-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#fixed-toolbar #fixed-toolbar-inner #custom-styles-dropdown .custom-style {
  position: relative
}

#fixed-toolbar #fixed-toolbar-inner #custom-styles-dropdown .custom-style:hover {
  background-color: #09d!important;
  color: #fff!important;
  text-shadow: none!important;
  overflow: hidden
}

#fixed-toolbar .dropdown {
  float: left;
  display: inline-block;
  margin-top: -1px
}

#fixed-toolbar .dropdown .dropdown-menu {
  margin-top: -1px
}

#fixed-toolbar .dropdown .dropdown-menu .always-on,#fixed-toolbar .dropdown .dropdown-menu .on {
  color: #11b6ff
}

#fixed-toolbar .dropdown .dropdown-menu .always-on:hover,#fixed-toolbar .dropdown .dropdown-menu .on:hover {
  color: #fff
}

#fixed-toolbar:after {
  content: '';
  display: table;
  clear: both
}

#live-editor-error .btn {
  margin: 5px
}

.live-editor-alert {
  position: fixed;
  z-index: 500;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  text-align: center;
  padding: 12px;
  margin: 0
}

.live-editor-alert .alert-link {
  margin-left: 30px
}

.live-editor-alert .alert-link i {
  margin-right: 5px
}

#autopublish-date-container {
  display: inline-block
}

#autopublish-date-container .pika-single {
  border-radius: 4px
}

body.fixed-toolbar #fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
}

body.abs-toolbar #fixed-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: .3s top ease,.3s left ease;
  transition: .3s top ease,.3s left ease;
  z-index: 10
}

#live-editor-container {
  position: relative;
  background: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch
}

#live-editor-container #live-editor-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  -webkit-overflow-scrolling: touch
}

#live-editor-loader {
  height: 100vh
}

#dropzone {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.85);
  padding: 20px;
  display: none
}

#dropzone.active {
  display: table
}

#dropzone-content {
  height: 100%;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  border: solid 6px #09d;
  border-radius: 6px;
  color: #09d;
  vertical-align: middle;
  display: table-cell;
  padding: 20px
}

#image-modal #image-preview-container {
  position: relative;
  text-align: center;
  margin: 15px 0 5px 0
}

#image-modal #image-preview {
  padding: 1px;
  border: solid 4px #eee;
  border-radius: 4px;
  display: inline-block
}

#image-modal #image-preview.loader-bg {
  min-width: 100px;
  min-height: 100px
}

#image-modal #image-preview .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: #eee;
  margin: 50px
}

#image-modal #image-preview img.loading {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute
}

#image-modal #image-preview img.loading-cropper {
  position: absolute;
  top: -9999em
}

#image-modal #image-actual-size {
  font-size: 12px;
  color: #999;
  opacity: .75;
  filter: alpha(opacity=75)
}

#image-modal .jcrop-holder {
  margin: 0 auto
}

#image-modal .jcrop-keymgr {
  opacity: 0
}

#page-properties-preview {
  font-size: 14px;
  color: #000;
  padding: 15px;
  background: #f2f2f2;
  margin-bottom: 15px
}

#page-properties-preview div {
  margin: 2px 0
}

#page-properties-preview .title {
  font-size: 16px;
  color: #09d
}

#page-properties-preview .url {
  color: #8cc152;
  margin-top: 6px
}

#view-revisions-table {
  max-height: 370px;
  overflow: auto
}

#view-revisions-table table tbody tr.current td {
  background: #fffccc
}

#publish-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  filter: alpha(opacity=0)
}

#publish-loader.out i {
  -webkit-transform: scale(2,);
  -ms-transform: scale(2,);
  transform: scale(2,)
}

#publish-loader i,#publish-loader img {
  position: fixed;
  z-index: 21;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  line-height: 40px;
  font-size: 40px;
  color: #8cc152;
  text-align: center;
  background: #000;
  border-radius: 16px;
  padding: 20px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: .3s all ease;
  transition: .3s all ease
}

#publish-loader.loading img {
  opacity: 1;
  filter: alpha(opacity=100)
}

#publish-loader.success i {
  opacity: 1;
  filter: alpha(opacity=100)
}

#special-character-table {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 15px
}

#special-character-table td {
  width: 4%;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  border: solid 1px #ddd;
  cursor: pointer;
  -webkit-transition: 50ms all linear;
  transition: 50ms all linear;
  -webkit-transition-delay: 0;
  transition-delay: 0
}

#special-character-table td:hover {
  background: #09d;
  color: #fff;
  -webkit-transform: scale(1.4,);
  -ms-transform: scale(1.4,);
  transform: scale(1.4,);
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms
}

#region-editor-selected-element {
  position: absolute;
  height: 28px;
  line-height: 28px;
  background-color: #09d;
  font-family: MesloLGMDZ,Menlo,Monaco,consolas,monospace;
  color: #fff;
  white-space: nowrap;
  padding: 0 8px;
  margin-left: -2px;
  margin-top: -32px;
  border-radius: 4px
}

.settings .extension {
  padding: 20px;
  margin-bottom: 20px
}

.settings .extension h3:first-child {
  margin-top: 0
}

.settings .status-pending {
  color: #999
}

.settings .status-refunded {
  color: #ff851b
}

.settings .status-rejected {
  color: #ff4136
}

@media (max-width: 991px) {
  #fixed-toolbar #fixed-toolbar-inner .hide-md {
    display:none
  }

  #fixed-toolbar #fixed-toolbar-inner .btn-group {
    margin-left: 6px;
    margin-right: 6px
  }
}

@media (max-width: 767px) {
  #main-toolbar-container #main-toolbar {
    font-size: 14px;
    padding: 5px 15px
  }

  #main-toolbar-container #main-toolbar .label {
    font-size: 15px
  }

  #main-container {
    padding: 15px
  }

  .auth form {
    margin-top: 75px
  }

  .analytics #date-picker {
    position: static;
    margin: 0 auto 15px auto
  }

  #fixed-toolbar #fixed-toolbar-inner {
    padding: 0 2px
  }

  #fixed-toolbar #fixed-toolbar-inner .btn-group {
    margin: 0 4px
  }

  #fixed-toolbar #fixed-toolbar-inner .row {
    margin-left: 0;
    margin-right: 0
  }

  #fixed-toolbar #fixed-toolbar-inner .hide-xs {
    display: none
  }

  #fixed-toolbar #fixed-toolbar-inner .btn.btn-default {
    padding-right: 5px;
    padding-left: 5px
  }

  #fixed-toolbar #fixed-toolbar-inner .save-options .btn-group {
    margin-right: 4px
  }

  #create-page-browser {
    height: 122px
  }
}

@media (max-width: 479px) {
  .auth form {
    margin-top:0
  }

  .pagination .more,.pagination .page {
    display: none
  }

  .pagination .more.active,.pagination .page.active {
    display: inline
  }
}

html,
body {
  height: 100%;
}
