<body class="auth layoutAuthentication_content">
<div id="main-container">
  <div id="logo" class="text-center">
    <img src="https://neobyte.net/billing/assets/img/logo.png" width="300" height="auto">
  </div>
  <form id="login-form" [formGroup]="setPasswordForm" (ngSubmit)="onSetPassword()">
    <div *ngIf="!passwordSet">
      <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input [formControlName]="'password'" type="password" class="form-control" id="password">
        <div class="warning">
          <p class="text-danger"
             *ngIf="setPasswordForm.get('password')?.hasError('required') && setPasswordForm.get('password')?.touched">
            Password is required</p>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="confirmPassword">Confirm Password</label>
        <input [formControlName]="'confirmPassword'" type="password" class="form-control" id="confirmPassword">
        <div class="warning">
          <p class="text-danger"
             *ngIf="setPasswordForm.get('confirmPassword')?.hasError('passwordsDontMatch') || setPasswordForm.get('confirmPassword')?.hasError('required') && setPasswordForm.get('confirmPassword')?.touched">
            Passwords must match</p>
        </div>
      </div>
      <div class="form-group">
        <div class="form-actions">
          <input type="hidden" name="redirect" value=""/>
          <input type="hidden" name="cmd" value="login"/>
          <button id="setpassword-button" class="btn btn-block btn-primary" type="submit"><span data-lang="Set Password">
              Set Password
            </span>
          </button>
        </div>
      </div>

      <div class="form-actions text-center">
        <a href="/login"><small data-lang="Forgot Password">Already have an account ?</small>
        </a>
      </div>
    </div>
    <div *ngIf="passwordSet" class="form-actions text-center">
      <p>Password set!<br>Click <a href="/login">here</a> here to go to login page.</p>
    </div>
  </form>


</div>
</body>
