<app-sidebar>
  <!-- Sidebar Extra Nav Options -->
  <div child-header>
    <div class="sb-sidenav-menu-heading">Admin</div>
    <!--    <a class="nav-link" href="/profile">-->
    <!--      <div class="sb-nav-link-icon"><i class="fa fa-check"></i></div>-->
    <!--      Enable Pages-->
    <!--    </a>-->
    <a class="nav-link" href="/sites/{{siteId}}/snippets">
      <div class="sb-nav-link-icon"><i class="fa fa-cube"></i></div>
      Manage Snippets
    </a>
    <!--    <a class="nav-link" href="/profile">-->
    <!--      <div class="sb-nav-link-icon"><i class="fa fa-heart-pulse"></i></div>-->
    <!--      Page Health-->
    <!--    </a>-->
    <div class="sb-sidenav-menu-heading">Actions</div>
    <a class="nav-link" href="/profile">
      <div class="sb-nav-link-icon"><i class="fa-regular fa-plus"></i></div>
      New Page
    </a>
    <a class="nav-link" href="/profile">
      <div class="sb-nav-link-icon"><i class="fa-regular fa-folder"></i></div>
      Manage Files
    </a>
    <a class="nav-link" href="/profile">
      <div class="sb-nav-link-icon"><i class="fa fa-chart-line"></i></div>
      Website Stats
    </a>
    <a class="nav-link" href="/profile">
      <div class="sb-nav-link-icon"><i class="fa fa-external-link"></i></div>
      View Website
    </a>
    <!--    <div class="button-group">-->
    <!--      <button type="button" class="btn btn-primary w-100 mb-1" >Publish</button>-->
    <!--      <button type="button" class="btn btn-default w-100" >Cancel</button>-->
    <!--    </div>-->
  </div>

  <!-- Content Regio for that page -->
  <div id="layoutSidenav_content" child-content>
    <app-breadcrumb></app-breadcrumb>
    <main class="p-3 offset-md-1 col-md-10 col-sm-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-8 d-flex align-items-center mb-3">
            <input type="text" class="form-control w-75" placeholder="Search site">
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center mb-3">
            <button class="btn btn-primary me-2">Edit</button>
            <button class="btn btn-primary me-2">Rename</button>
            <button class="btn btn-danger me-2">Delete</button>
            <button class="btn btn-success">New Site</button>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="list-group" style="height: 700px; overflow-y: scroll;">
              <a *ngFor="let page of pages" (click)="selectPage(page)"
                 class="list-group-item list-group-item-action">
                <a href="sites/{{siteId}}/page/{{page.id}}" class="mb-1">{{page.name}}</a>
                <p class="mb-0">{{page.path}}</p>
              </a>
            </div>
          </div>
          <div class="col-8">
            <a *ngIf="selectedPage; else elseBlock" href="/sites/{{siteId}}/pages/{{selectedPage.id}}" class="wrapper">
              <div id="iframeBlocker" style="position: absolute; top: 0; left: 0; width:100%; height:100%;z-index:2"></div>
              <iframe #previewIframe style="width: 100%; height: 700px; cursor: pointer!important; pointer-events: unset!important;" tabindex="-1"></iframe>
            </a>
            <ng-template #elseBlock>
              <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 700px;">
                <h1 class="text-center">Select a page to view</h1>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </main>
    <app-footer class="mt-auto"></app-footer>
  </div>
</app-sidebar>
