<!-- Modal -->
<div class="modal fade" id="manageFilesModal" tabindex="-1" role="dialog" aria-labelledby="manageFilesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="line-height: 24px; font-size: 18px; color: #303133;">Manage files</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="breadcrumb" style="color: #c1c6c9; pointer-events: none; font-size: 14px; line-height: 1.5; padding: 0.25rem 0; margin-bottom: 0.5rem;">
          <i class="fa fa-home"></i> / Map Title
        </div>
        <div class="file-list" style="border: 1px solid #dddfe1; border-radius: 0.25rem; background: #fff; font-size: 1rem; line-height: 1.4; overflow-y: auto;">
          <div class="file">
            <i class="fa fa-file-image"></i> file.PNG <span class="file-size">3MB</span>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-light" type="button"><i class="fa fa-upload"></i></button>
          <button class="btn btn-light" type="button"><i class="fa fa-folder-plus"></i></button>
          <button class="btn btn-light" type="button"><i class="fa fa-edit"></i></button>
          <button class="btn btn-light" type="button"><i class="fa fa-external-link-alt"></i></button>
          <button class="btn btn-light" type="button"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
